[Unit]
Description=Gunicorn instance to serve Flask app
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/admin/ohttp-echo
ExecStart=/home/admin/venv/bin/gunicorn --workers 3 --bind unix:/home/admin/ohttp-echo/flask_app.sock wsgi:app

[Install]
WantedBy=multi-user.target